/* Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Commons */
body{
    background-color: #f6f8f9;
    font-family: Arial, Helvetica, sans-serif
}
header{
    background-color:#ffffff ;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 50px;
    padding-left: 30px;
    padding-bottom: 20px;
}
p{
    padding: 10px;
}
.badge {
    border-radius: 20%;
    color: white;
    padding: 5px;
    font-size: x-small;
    margin: 4px;

    

}

/* Components */
.btn {
    text-decoration: none;
    border: 1px solid grey;
    padding: 8px;
    border-radius: 5px;
    font-size: 20px;
    color: #c5ccd1;
    padding-right: 15px;
    padding-left: 15px;
}
.btn-blue {
background-color: #14aaf5;
color: #dcf2fd;

}
.task{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: #ffffff;
    padding: 10px;
}
.margin-btn{
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.list{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: #ffffff; 
    padding-left: 60px; 
     
}

.listitem{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-weight: bold;
    
    
}
.circle {
    border: 1px solid green;
    color: green;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    font-weight: bolder;
    margin-right: 10px;
}
.cross {
    border: 1px solid red;
    color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    font-weight: bolder;
    margin-right: 10px;
}

.bluebadge{
    border: 1px solid #14aaf5;
    background-color:#14aaf5 ;
}
.purplebadge{
    border: 2px solid #ab5de6;
    background-color:#ab5de6 ;
}
.greenbadge{
    border: 2px solid #2cc6ab;
    background-color:#2cc6ab ;
}
.orangebadge{
    border: 2px solid #ff9b00;
    background-color:#ff9b00 ;
}
.pinkbadge{
    border: 2px solid #ec4a9d;
    background-color:#ec4a9d ;
}
.lihtgreenbadge{
    border: 2px solid #a3d117;
    background-color:#a3d117 ;
}